body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1A1A40; /* Основной темный фон (ближе к темно-фиолетовому) */
    color: #C7B6FF; /* Светло-фиолетовый текст */
}

header {
    background: #655D8A; /* Темно-фиолетовый для хедера */
    color: #C7B6FF; /* Цвет текста ближе к светло-фиолетовому */
    padding: 1.5em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #C7B6FF; /* Цвет ссылок ближе к светло-фиолетовому */
    text-decoration: none;
    transition: color 0.3s ease; /* Эффект плавного изменения цвета при наведении */
}

nav ul li a:hover {
    color: #FFDC00; /* Желтый при наведении */
}

section {
    padding: 2em 0;
    border-bottom: 1px solid #494C7D; /* Цвет границы для секций (темный) */
    background-color: #1A1A40; /* Темно-фиолетовый для секций */
    color: #C7B6FF; /* Светло-фиолетовый цвет текста */
}

h2 {
    color: #FFDC00; /* Желтый цвет для заголовков */
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
    background-color: #494C7D; /* Темно-серый для таблицы */
    color: #C7B6FF; /* Светло-фиолетовый цвет текста */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень для объема */
}

table, th, td {
    border: 1px solid #C7B6FF;
}

th, td {
    padding: 1em;
    text-align: left;
}

blockquote {
    border-left: 5px solid #FFDC00; /* Желтая граница для блоков цитат */
    margin: 1em 0;
    padding-left: 1em;
    font-style: italic;
    background-color: #2C2C54; /* Более темный фон для цитат */
    color: #C7B6FF;
}

footer {
    background: #494C7D; /* Темный для футера */
    color: #C7B6FF;
    text-align: center;
    padding: 1.5em 0;
}

button {
    background-color: #FFDC00; /* Яркий желтый для кнопок */
    color: #1A1A40; /* Темно-фиолетовый текст кнопки */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C7B6FF; /* Светло-фиолетовый при наведении */
    color: #1A1A40;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto 20px;
}
